:root {
  --color-background: #ffffff;
  --color-foreground: #0f0f0f;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    --color-background: #0f0f0f;
    --color-foreground: #ffffff;
  }
}

[data-theme='dark'] {
  --color-background: #0f0f0f;
  --color-foreground: #ffffff;
}

[data-theme='light'] {
  --color-background: #ffffff;
  --color-foreground: #0f0f0f;
}
