:root {
  --color-basic-0: #ffffff;
  --color-basic-50: #fafafa;
  --color-basic-100: #f5f5f5;
  --color-basic-200: #e5e5e5;
  --color-basic-300: #64748b;
  --color-basic-400: #0f172a;
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #2563eb;
  --color-primary-400: #1d4ed8;
  --color-secondary-50: #f8fafc;
  --color-secondary-100: #f1f5f9;
  --color-secondary-200: #e2e8f0;
  --color-secondary-300: #334155;
  --color-secondary-400: #1e293b;
  --color-success-50: #f0fdf4;
  --color-success-100: #dcfce7;
  --color-success-200: #bbf7d0;
  --color-success-300: #16a34a;
  --color-success-400: #15803d;
  --color-danger-50: #fef2f2;
  --color-danger-100: #fee2e2;
  --color-danger-200: #fecaca;
  --color-danger-300: #dc2626;
  --color-danger-400: #b91c1c;
  --color-warning-50: #fff7ed;
  --color-warning-100: #ffedd5;
  --color-warning-200: #fed7aa;
  --color-warning-300: #f97316;
  --color-warning-400: #ea580c;
  --color-outline-primary: #93c5fd;
  --color-outline-secondary: #d4d4d4;
  --color-outline-success: #86efac;
  --color-outline-danger: #fca5a5;
  --color-outline-warning: #fdba74;
  --color-text-primary: #0f172a;
  --color-text-secondary: #64748b;
  --color-text-contrast: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    --color-basic-0: #0f172a;
    --color-basic-50: #1e293b;
    --color-basic-100: #334155;
    --color-basic-200: #475569;
    --color-basic-300: #94a3b8;
    --color-basic-400: #ffffff;
    --color-primary-50: #1e3778;
    --color-primary-100: #1e3a8a;
    --color-primary-200: #1e40af;
    --color-primary-300: #60a5fa;
    --color-primary-400: #93c5fd;
    --color-secondary-50: #1e293b;
    --color-secondary-100: #334155;
    --color-secondary-200: #475569;
    --color-secondary-300: #cbd5e1;
    --color-secondary-400: #e2e8f0;
    --color-success-50: #092d23;
    --color-success-100: #0f3d22;
    --color-success-200: #1b5e20;
    --color-success-300: #4ade80;
    --color-success-400: #86efac;
    --color-danger-50: #721e1e;
    --color-danger-100: #7f1d1d;
    --color-danger-200: #991b1b;
    --color-danger-300: #f87171;
    --color-danger-400: #fca5a5;
    --color-warning-50: #6d2a12;
    --color-warning-100: #7c2d12;
    --color-warning-200: #9a3412;
    --color-warning-300: #fb923c;
    --color-warning-400: #fdba74;
    --color-outline-primary: #2563eb;
    --color-outline-secondary: #475569;
    --color-outline-success: #16a34a;
    --color-outline-danger: #dc2626;
    --color-outline-warning: #ea580c;
    --color-text-primary: #ffffff;
    --color-text-secondary: #94a3b8;
    --color-text-contrast: #0f172a;
  }
}

[data-theme='dark'] {
  --color-basic-0: #0f172a;
  --color-basic-50: #1e293b;
  --color-basic-100: #334155;
  --color-basic-200: #475569;
  --color-basic-300: #94a3b8;
  --color-basic-400: #ffffff;
  --color-primary-50: #1e3778;
  --color-primary-100: #1e3a8a;
  --color-primary-200: #1e40af;
  --color-primary-300: #60a5fa;
  --color-primary-400: #93c5fd;
  --color-secondary-50: #1e293b;
  --color-secondary-100: #334155;
  --color-secondary-200: #475569;
  --color-secondary-300: #cbd5e1;
  --color-secondary-400: #e2e8f0;
  --color-success-50: #092d23;
  --color-success-100: #0f3d22;
  --color-success-200: #1b5e20;
  --color-success-300: #4ade80;
  --color-success-400: #86efac;
  --color-danger-50: #721e1e;
  --color-danger-100: #7f1d1d;
  --color-danger-200: #991b1b;
  --color-danger-300: #f87171;
  --color-danger-400: #fca5a5;
  --color-warning-50: #6d2a12;
  --color-warning-100: #7c2d12;
  --color-warning-200: #9a3412;
  --color-warning-300: #fb923c;
  --color-warning-400: #fdba74;
  --color-outline-primary: #2563eb;
  --color-outline-secondary: #475569;
  --color-outline-success: #16a34a;
  --color-outline-danger: #dc2626;
  --color-outline-warning: #ea580c;
  --color-text-primary: #ffffff;
  --color-text-secondary: #94a3b8;
  --color-text-contrast: #0f172a;
}

[data-theme='light'] {
  --color-basic-0: #ffffff;
  --color-basic-50: #fafafa;
  --color-basic-100: #f5f5f5;
  --color-basic-200: #e5e5e5;
  --color-basic-300: #64748b;
  --color-basic-400: #0f172a;
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #2563eb;
  --color-primary-400: #1d4ed8;
  --color-secondary-50: #f8fafc;
  --color-secondary-100: #f1f5f9;
  --color-secondary-200: #e2e8f0;
  --color-secondary-300: #334155;
  --color-secondary-400: #1e293b;
  --color-success-50: #f0fdf4;
  --color-success-100: #dcfce7;
  --color-success-200: #bbf7d0;
  --color-success-300: #16a34a;
  --color-success-400: #15803d;
  --color-danger-50: #fef2f2;
  --color-danger-100: #fee2e2;
  --color-danger-200: #fecaca;
  --color-danger-300: #dc2626;
  --color-danger-400: #b91c1c;
  --color-warning-50: #fff7ed;
  --color-warning-100: #ffedd5;
  --color-warning-200: #fed7aa;
  --color-warning-300: #f97316;
  --color-warning-400: #ea580c;
  --color-outline-primary: #93c5fd;
  --color-outline-secondary: #d4d4d4;
  --color-outline-success: #86efac;
  --color-outline-danger: #fca5a5;
  --color-outline-warning: #fdba74;
  --color-text-primary: #0f172a;
  --color-text-secondary: #64748b;
  --color-text-contrast: #ffffff;
}
